{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Hi, I'm Pedram.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi, I'm Pedram.</p>
        <p>
          I made this blog site as a practice for a course, but I like it. I may even spend more time writing my own thoughts and musings here. After all, what use is a playful and creative mind if its ideas are not shared? 😄😅😅
        </p>
        <p>
          Keep in touch with me by commenting on any of the site's pages which will notify me to respond to them, or use the contact form to connect with me directly.
        </p>
        <p>
          Thanks for being here. 😊🙏
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}